.searchBar {
  text-align: center;
}
.searchBox {
  width: 800px;
  height: 35px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border-color: #cccccc;
}
.button {
  margin: 10px;
  background-color: white;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  border-color: #cccccc;
}
.card{
  border: 1px solid #cccccc;
  margin-left: 20px;
  margin-bottom: 30px;
  float: left;
  display:flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
    .search-bar{
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

    .search-box {
        width: 80%;
    }

}

@media only screen and (min-width: 768px)  and (max-width: 1024px) {
    .search-bar{
        align-items: center;
        width: 80%;
    }

    .search-box {
        width: 50%;
    }

}
p.details{
  text-align: center;
  font-size: 16px;
}
h3.name {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.images {
  padding-left: 170px;
}
